.hover-scale {
    transition: transform 0.3s ease-in-out;
}

.hover-scale:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.image-logo-help {
    display: block;
    max-width: 200px;
    height: auto;
    margin: 20px auto;
}

@media (max-width: 576px) {
    .arrow {
        margin-top: 8px !important;
        margin-left: 8px !important;
    }
}