.hamburguer-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: 8px;
    display: none;
}

@media (max-width: 768px) {
    .hamburguer-btn {
        display: block;
    }
}