  .grid-container {
      display: flex;
      gap: 8px; /* Espaço entre o Carousel e os Ads */
      max-width: 1400px;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      align-items: center; /* Faz os itens ficarem alinhados em altura */
    }
    
    .carousel-wrapper {
      flex: 2; /* Ocupará mais espaço */
      display: flex;
      flex-direction: column;
    }
    
    .ads-wrapper {
      flex: 1; /* Ocupará menos espaço */
      display: flex;
      flex-direction: column;
      justify-content: space-between; /* Distribui as propagandas no topo e embaixo */
    }
    
    .ads-wrapper img {
      width: 100%;
      height: auto;
      max-height: 106px; /* Ajuste o tamanho das propagandas */
      object-fit: cover; /* Garante que a imagem preencha o espaço corretamente */
    }
    