body {
  background: linear-gradient(to bottom, #0D6EFD, #0D6EFD, #0D6EFD, #f8f9fa, #f8f9fa,  #f8f9fa, #f8f9fa, #f8f9fa);
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.home-gradient-bg {
  background: linear-gradient(to bottom, #f8f9fa 0%, #e9f2ff 50%, #ffffff 100%);
  padding-bottom: 2rem;
}

.navbar {
  background-color: transparent !important;
  position: relative;
  z-index: 2;
}

.carousel-wrapper {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.with-navbar {
  padding-top: 100px;
  background: transparent;
}

.ads-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ads-wrapper img {
  width: 100%;
  height: auto;
  max-height: 106px;
  object-fit: cover;
}

.product-card {
  padding: 1em;
}



@media (max-width: 768px) {
  .grid-container {
    display: block;
  }

  .with-navbar {
    padding-top: 80px;
  }

  body {
    background: linear-gradient(to bottom, #0D6EFD, #0D6EFD, #f8f9fa, #f8f9fa, #f8f9fa, #f8f9fa, #f8f9fa, #f8f9fa, #f8f9fa, #f8f9fa,  #f8f9fa, #f8f9fa, #f8f9fa);
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;

  }
}